<div class="edit_head">
  <h1>Editing Book</h1>
</div>

<div class="field_with_errors">
<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<%= form_with model: @book do |f| %>

  <div class="edit_title">
    <p>Title</p>
    <%= f.text_field :title %>
  </div> 
  
  <div class="edit_body">
    <p>Body</p>
    <%= f.text_area :body %>
  </div> 
  
  <div class="edit_submit">
    <%= f.submit 'Update Book' %>
  </div>
  
  <div class="edit_action">
    <%= link_to "Show", book_path(@book.id) %>   | 

    <a href="/books">Back</a>
  </div>
<% end %>
